* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #f8f6fb;
}

.sticky_navigation{
    background-color: #d6c1f0;
}

.sticky_navigation_container{
    display:flex;
    justify-content: space-between; 
    padding: 14px 0;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap
}

.navigation{
    background-color: #f1eafa;
}

.navigation_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 14px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.navigation_container ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
  }

.nav_logo{
display: flex;
flex-direction: column;
justify-content: center;
font-size: 30px;
}

.nav_signup {
    border: 1px solid;
    border-radius: 2.8rem;
    padding: 0.8rem 2.2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.exchanger_form{
    margin-top: 40px;
    border: 1px solid;
    border-radius: 2.8rem;
    padding: 100px 140px;
}

.exchanger_form_main{
    display: flex;
    justify-content: center;
}

.exchanger_form_button{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.exchanger_button{
    width: 100%
}