* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #f8f6fb;
}

a {
    color: #54239c;
    text-decoration: none;
}

a:hover{
    color: #53239cbb;
    cursor: pointer;
}

.sticky_navigation{
    background-color: #d6c1f0;
    vertical-align: center;
}

.sticky_navigation_container{
    display:flex;
    justify-content: space-between; 
    padding: 12px 0;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.timetable_wrapper{
    color: #2f1458;
}

.sticky_mail_icon{
    margin-right: 6px;
    vertical-align: middle;
}

.navigation{
    background-color: #f1eafa;
}

.navigation_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 22px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.navigation_container ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
  }

.nav_logo{
display: flex;
flex-direction: column;
justify-content: center;
font-size: 30px;
}

.nav_signup {
    border: 1px solid;
    border-radius: 2.8rem;
    padding: 0.8rem 2.2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.exchanger_form{
    margin-top: 40px;
    border: 1px solid #e5d4f1;
    border-radius: 2.8rem;
    padding: 100px 140px;
    background-color: #f7f4fb;
    color: #2f1458;
}

.exchanger_form_swap{
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.exchanger_form_main{
    display: flex;
    justify-content: center;
}

.exchanger_form_button{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

input{
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 2.8rem;
    box-sizing: border-box;
    font-size: 18px;
    color: #2f1458;
    background-color: #fff;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    margin: 5px 0px;
    font-family: "Space Grotesk", sans-serif;
}

input:hover{
    border: 1px solid #54238e;
}

input:focus {
    outline: none;
    border-color: #54238e;
    box-shadow: 0 0 5px rgba(132, 0, 194, 0.5);
  }

.exchanger_button{
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 2.8rem;
    background-color: #54238e;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
}

.exchanger_button:hover{
    background-color: #461e77;
    cursor: pointer;
}

.advantages_content{
    margin: 40px 0 30px 0;
}

.advantages_grid {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
    row-gap: 0.8rem;
    column-gap: 0.8rem;
    grid-auto-flow: column;
}

@media (max-width: 768px) {
    .advantages_grid  {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }
    .statistics_content_full{
        flex-direction: column;
    }
    .container{
        margin: 0 20px 0px 20px;
    }
}
.adv_card {
    border: 1px solid #ccc;
    border-radius: 2.8rem;
    background-color: white;
    /* padding: 20px 0 120px 0; */
}

.adv_card_img, .adv_card_txt{
    display: flex;
    justify-content: center;
}
.adv_card_txt{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 60px;
    text-align: center
}
.adv_card_full_content{
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statistics_content h2, .partners_content h2{
    color: #2f1458;
}

.statistics_content_full{
    display: flex;
    margin: 30px 0 100px 0;
    grid-gap:10px;
}

.statistics_item{
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    width: 100%;
    display: flex;
    background-color: white;
    padding: 20px 80px 20px 40px;
    color: #2f1458;
    box-shadow: 0 4px 12px 0 rgba(84, 35, 142, 0.08);
}

.statistics_icon{
    padding: 12px 10px 0 0;
    color: #54239c;
}

.partners_content_box{
    display: flex;
    grid-gap:10px;
    margin-bottom: 50px;
}

.partners_card{
    border: 1px solid #ccc;
    border-radius: 2.8rem;
    padding: 40px 40px;    
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
}

.partners_card_img{
    max-height: 7.2rem;
    max-width: 18rem;
}

.footer{
    background-color:#54239c
}

.footer_content_box{
    display: flex;
    justify-content: space-around;
}

.footer_content_box3{
    display: flex;
    align-items: center;
}