* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #f8f6fb;
}

.sticky_navigation{
    background-color: #d6c1f0;
}

.sticky_navigation_container{
    display:flex;
    justify-content: space-between; 
    padding: 14px 0;
    width: 1200px;
    margin: 0 auto;
}

.navigation{
    background-color: #f1eafa;
}

.navigation_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    width: 1200px;
    margin: 0 auto;
}

.navigation_container ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
  }

.nav_logo{
display: flex;
flex-direction: column;
justify-content: center;
font-size: 30px;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}